*{
    padding:0;
    margin: 0;
    box-sizing: border-box; 

}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F1F1F1;
    box-shadow: 0px 3px 21px -5px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  
  header > img {
    width: 80px;
    background: orange;
  }
  
  header > button {
    background: none;
    cursor: pointer;
  }
  
  .navbar {
    display: none;
    font-size: 50px;
  
  }
  
  .navbar > a {
    font-size: 1.5rem;
    margin: 0 20px 0 0;
    text-decoration: none;
    color: orange;
  }




  @media (min-width: 481px) {
    header {
      padding: 20px 10px;
    }
  
    header > img {
      width: 128px;
    }
  }
  
  @media (min-width: 650px) {
    .navbar {
      display: flex;
    }
  
    .hamburguer-menu {
      display: none;
    }
  }
  
  